<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ code }}</title>
    <link rel="stylesheet" href="/static/style/error.css">
</head>
    <body>
        <h2 class="code">{{ code  }}</h2>
        <p class="desc">{{ message }}</p>
    </body>
</html>