<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/login.css">
    <script>
        function confirmPass() {
            const passBox = document.getElementById("registerPassBox");
            const confirmBox = document.getElementById("registerConfirmPassBox");
            if (confirmBox.value === passBox.value) {
                confirmBox.setCustomValidity('');
            }
            else {
                confirmBox.setCustomValidity("Passwords do not match");
            }
        }
    </script>
</head>
    <body>
        <div id="header">
            <h2>ImageMaker (Pre-release) - Login</h2>
        </div>
        <div class="loginBanner">
            <h3>Note: Unfortunately, this application requires JavaScript</h3>
            <p class="loginError">{{ error }}</p>
        </div>
        <div class="loginRoot">
            <div class="loginPanel">
                <h2>Sign In</h2>
                <form action="/login" method="POST">
                    <label for="loginNameBox">Username</label><br>
                    <input type="text" id="loginNameBox" class="loginInput" name="username"><br>
                    <label for="loginPassBox">Password</label><br>
                    <input type="password" id="loginPassBox" class="loginInput" name="password"><br>
                    <input type="submit" class="loginButton" value="Sign In">
                </form>
            </div>
            <div class="loginPanel">
                <h2>Register</h2>
                <form action="/register" method="POST">
                    <label for="registerNameBox">Username</label>
                    <input type="text" id="registerNameBox" class="loginInput" name="username"><br>
                    <label for="registerPassBox">Password</label>
                    <input type="password" id="registerPassBox" class="loginInput" name="password" onkeyup="confirmPass()"><br>
                    <label for="registerPassBox">Confirm Password</label>
                    <input type="password" id="registerConfirmPassBox" class="loginInput" onkeyup="confirmPass()"><br>
                    <input type="submit" class="loginButton" value="Register">
                </form>
            </div>
        </div>
    <div id="footer">
        <p>Licensed under CNPLv5+ | <a href="https://framagit.org/Sigma-One/ImageMaker">Source</a> | pre-release version</p>
    </div>
    </body>
</html>