<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logging in...</title>
    <script>
        window.onload = function () {
            window.sessionStorage.setItem("token", "{{ token }}");
            window.location.href = window.location.pathname = "editor/1";
        }
    </script>
</head>
<body>
    <h2>You are being logged in, please wait...</h2>
</body>
</html>