 :root {
  --transformFont: #0005;
  --transitionSpeed: 150ms;
  --bgMain: #fff
}

#root {
     display: flex;
     flex-direction: column;
     text-align: center;
     width: 100%;
    height: 100%;
     align-items: center;
}

#controlsContainer {
    display: flex;
    flex-direction: column;
}

#editor {
    border: 1px solid black;
    /*border-radius: 10pt;*/
    display: block;
    margin-bottom: 5pt;
    background: white;
}

#categoryContents, #categoryTabs {
    width: 512px;
    display: block;
}

#categoryContents a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 512px;
}

button, #downloadButton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 512px;
}
button:hover, #downloadButton:hover {
    background: #ddd;
}
button:active, #downloadButton:hover {
    background: #ccc;
}

#downloadButton {
    text-decoration: none;
    color: #000;
    margin-top: 2pt;
}

.transformContainer {
    bottom: 115pt;
    position: relative;
    opacity: 0;
    margin-bottom: -115pt;
    transition: opacity var(--transitionSpeed) linear;
}

.transformBg {
    background: #0005;
    border-radius: 50%;
    position: relative;
    display: grid;
    left: 5pt;
    width: 45pt;
    height: 45pt;
    margin-bottom: 10pt;
}

.transformButton {
    width: 15pt;
    height: 15pt;
}

.transformButton.moveUp {
    grid-row: 1;
    grid-column: 2;
}
.transformButton.moveLeft {
    grid-row: 2;
    grid-column: 1;
}
.transformButton.moveRight {
    grid-row: 2;
    grid-column: 3;
}
.transformButton.moveDown {
    grid-row: 3;
    grid-column: 2;
}

.transformButton.rotateCCW {
    grid-row: 2;
    grid-column: 0;
}
.transformButton.rotateCW {
    grid-row: 2;
    grid-column: 3;
}

.imageButton, .categoryTab, .variantButton {
    display: inline-block;
    width: 45pt;
    height: 45pt;
    text-align: center;
    padding: 2.5pt;
    float: left;
}

.imageButton, .variantButton {
    margin-top: 2pt;
    margin-right: 2pt;
}

.categoryContent {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#categoryTabs {
    background: #0005;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-x: scroll;
}

.categoryTab {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid black;
}
.categoryTab.selected {
    background: #ccc;
}

#variantToggle {
    border-radius: 0;
}
.colourCircle {
    width: 36pt;
    height: 36pt;
    border: 2px solid #555;
    border-radius: 50%;
}

#vroot {
    background: #fff5;
    padding: 10pt;
    border-radius: 20pt;
}