.loginRoot {
    display         : flex;
    width           : 100%;
    text-align      : center;
    justify-content : center;
}

.loginBanner {
    display : inline-block;
}

.loginBanner * {
    margin-bottom: 0;
}

.loginPanel {
    padding     : 10pt;
    padding-top : 0;
    border-radius: 10pt;
    margin      : 10pt;
    text-align  : left;
    background: #ffbfff;
    padding-bottom: 40pt;
    position: relative;
}

.loginInput {
    display : block;
}


.loginButton {
    width: 250px;
    display: block;
    position: absolute;
    bottom: 10pt;
}

.loginError {
    margin-top: 2pt;
    background: #ff8080;
    padding: 2pt;
    border-radius: 10pt;
    border: 1px solid #ff4f4f;
}

.loginError:empty {
    display: none;
}

#footer {
    position: absolute;
}