html {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    text-align: center;
    background: white;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

#header {
    background: #ff85ff;
    margin: 0;
    height: 30pt;
}

#header h2 {
    margin: 0;
    float: left;
    display: block;
    padding: 5pt;
}

#footer {
    background: #ff85ff;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 20pt;
    width: 100%;
    position: relative;
}
#footer * {
    padding: 0;
    margin: 0;
}